.hero {
  background-color: var(--white);
  overflow: hidden;
  padding-bottom: 22rem;
  padding-top: 22rem;
}

@media (min-width: 1540px) {
  .hero {
    padding-bottom: 28rem;
    padding-top: 28rem;
  }
}

h4 {
  font-size: var(--h4);
  font-weight: var(--bold-font);
}

.hero .hero-content {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.hero h1 {
  left: -0.7rem;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}

.hero h1 .line {
  display: block;
  height: calc(var(--h1) * 1.2);
  overflow: hidden;
}

.hero-content .line {
  transition: 0.2s ease-out;
}

.hero h1 .line .line-inner {
  display: inline-block;
}

.hero h1 .line:nth-child(2) {
  left: 19.3rem;
  position: relative;
  z-index: -1;
}

// .header-wrapper {
//   width: 80vw;
//   margin-top: 2vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   h2 {
//     font-size: 1rem;
//     text-align: center;
//     @include media(">=phone", "<lgphone") {
//       font-size: 14px;
//     }
//     @include media(">=lgphone", "<tablet") {
//       font-size: 16px;
//     }
//     @include media(">=tablet", "<desktop") {
//       font-size: 16px;
//     }
//   }
//   .heading-wrapper {
//     h1 {
//       font-size: 4rem;
//       text-align: center;
//       line-height: 20px;
//       @include media(">=phone", "<lgphone") {
//         font-size: 1.5rem;
//         line-height: 10px;
//       }
//       @include media(">=lgphone", "<tablet") {
//         font-size: 1.5rem;
//         line-height: 10px;
//       }
//       @include media(">=tablet", "<desktop") {
//         font-size: 2.5rem;
//       }
//     }
//   }
//   p {
//     width: 50%;
//     text-align: center;
//     overflow: hidden;
//     @include media(">=phone", "<lgphone") {
//       font-size: 12px;
//       width: 100%;
//     }
//     @include media(">=lgphone", "<tablet") {
//       font-size: 12px;
//       width: 100%;
//     }
//     @include media(">=tablet", "<desktop") {
//       font-size: 14px;
//       width: 100%;
//     }
//   }
// }
