  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
  }




#work {
  background-color: var(--warm);
  padding-left: var(--gap-12);
  padding-right: var(--gap-12);
}

#work .wrapper {
  padding-top: 8rem;
  position: relative;
}

#work h2 {
  
  flex-direction: column;
  left: 0;
  position: relative;
  top: 0;
  z-index: 1;
}

#work .work-group {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

